# Ignore virtual environment folders
venv/
ENV/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# VSCode config
.vscode/

# Local environment config
*.env
.env
.env.local
.env.*.local

# Byte-compiled / optimized / DLL files
*.so

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS files
.DS_Store
